@import '../styles/variables.scss';

// ------ Animações

@keyframes scaleUp {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-8px) scale(1.1);
    }
}

footer {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;

    .footer-icons {
        display: flex;
        flex-direction: row;
        margin-top: 3dvh;
        font-size: 1.3rem;
        color: $secondaryWhite;
        gap: 2dvh;

        i {
            transition: animation 0.4s;
        }

        i:hover {
            color: $lightRed;
            animation: scaleUp 1s infinite alternate;
        }
    }

    .footer-logo {
        margin-top: 3dvh;

        .footer-logo img {
            width: 35dvh;
        }
    }

    .footer-description {
        p {
            margin-top: 3dvh;
            margin-bottom: 3dvh;
            text-align: center;
            font-size: 1rem;
            color: $secondaryWhite;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 100%;
    }

    .footer-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-icons i {
        margin-top: 2dvh !important;
    }

    .footer-logo img {
        margin-top: 2dvh !important;
        width: 25dvh !important;
    }

    .footer-description p {
        margin-top: 2dvh !important;
    }
}

@media screen and (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 100%;
    }

    .footer-logo img {
        margin-top: 2dvh !important;
        width: 25dvh;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 100%;
    }

    .footer-logo img {
        margin-top: 2dvh !important;
        width: 25dvh;
    }
}