@import '../styles/variables.scss';

// ------ Animações

@keyframes scale {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-8px) scale(1.1);
    }
}

header {
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url('../assets/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 4dvh;

    .nav-icons {
        display: flex;
        color: $secondaryWhite;
        gap: 2dvh;
        font-size: 1.3rem;
        transition: animation 0.4s;
    }

    .nav-icons i:hover {
        color: $lightRed;
        animation: scale 1s infinite alternate;
    }
}

.header-button button {
    border: solid 1px $white;
    background-color: $primaryBlack;
    color: $white;
    height: 5dvh;
    width: 20dvh;
    font-size: 1rem;
    transition: border 0.8s;
}

.header-button button:hover {
    border: solid 0.4px $lightRed;
}

.hero {
    display: flex;
    flex-direction: column;
    margin-top: 7dvh;

    .hero-title {
        text-align: center;
        margin-bottom: 3dvh;
        color: $secondaryWhite;
        font-size: 2.2rem;
    }

    p {
        text-align: center;
        color: $secondaryWhite;
        margin-bottom: 2dvh;
    }

    .hero-button {
        margin: 0 auto;
        color: $white;
        height: 5dvh;
        width: 27dvh;
        background-color: $red;
        border: none;
        transition: background-color 0.8s;

        .hero-button:hover {
            background-color: $darkRed;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .nav-icons {
        margin-top: 1dvh;
    }

    .logo img {
        width: 35dvh;
    }

    .header-button button {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .hero-title {
        text-align: center;
        font-size: 1.8rem;
    }
}