@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

@keyframes scaleUp {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
footer {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}
footer .footer-icons {
  display: flex;
  flex-direction: row;
  margin-top: 3dvh;
  font-size: 1.3rem;
  color: #fefbff;
  gap: 2dvh;
}
footer .footer-icons i {
  transition: animation 0.4s;
}
footer .footer-icons i:hover {
  color: #d34040;
  animation: scaleUp 1s infinite alternate;
}
footer .footer-logo {
  margin-top: 3dvh;
}
footer .footer-logo .footer-logo img {
  width: 35dvh;
}
footer .footer-description p {
  margin-top: 3dvh;
  margin-bottom: 3dvh;
  text-align: center;
  font-size: 1rem;
  color: #fefbff;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }
  .footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer-icons i {
    margin-top: 2dvh !important;
  }
  .footer-logo img {
    margin-top: 2dvh !important;
    width: 25dvh !important;
  }
  .footer-description p {
    margin-top: 2dvh !important;
  }
}
@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }
  .footer-logo img {
    margin-top: 2dvh !important;
    width: 25dvh;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }
  .footer-logo img {
    margin-top: 2dvh !important;
    width: 25dvh;
  }
}
@keyframes scale {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
header {
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.9;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 4dvh;
}
.container .nav-icons {
  display: flex;
  color: #fefbff;
  gap: 2dvh;
  font-size: 1.3rem;
  transition: animation 0.4s;
}
.container .nav-icons i:hover {
  color: #d34040;
  animation: scale 1s infinite alternate;
}

.header-button button {
  border: solid 1px #ffffff;
  background-color: #06121E;
  color: #ffffff;
  height: 5dvh;
  width: 20dvh;
  font-size: 1rem;
  transition: border 0.8s;
}

.header-button button:hover {
  border: solid 0.4px #d34040;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 7dvh;
}
.hero .hero-title {
  text-align: center;
  margin-bottom: 3dvh;
  color: #fefbff;
  font-size: 2.2rem;
}
.hero p {
  text-align: center;
  color: #fefbff;
  margin-bottom: 2dvh;
}
.hero .hero-button {
  margin: 0 auto;
  color: #ffffff;
  height: 5dvh;
  width: 27dvh;
  background-color: #D94140;
  border: none;
  transition: background-color 0.8s;
}
.hero .hero-button .hero-button:hover {
  background-color: #b42b2b;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-icons {
    margin-top: 1dvh;
  }
  .logo img {
    width: 35dvh;
  }
  .header-button button {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-title {
    text-align: center;
    font-size: 1.8rem;
  }
}
.about {
  display: flex;
  margin-top: 12dvh;
}
.about div {
  flex: 1;
}
.about .about-content {
  color: #ffffff;
  margin: 3dvh 3dvh;
}
.about .about-content .about-title {
  margin-bottom: 3dvh;
  font-size: 1.7rem;
}
.about .about-content p {
  margin-bottom: 3dvh;
  font-size: 1rem;
}

.services {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.services h3 {
  margin-top: 10dvh;
  margin-bottom: 3dvh;
  text-align: center;
  font-size: 1.6rem;
  color: #040f1a;
}
.services p {
  text-align: center;
  margin-top: 3dvh;
  color: #06090c;
  max-width: 780px;
  margin: 0 auto;
}
.services .card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2dvh;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 4dvh;
}
.services .card-grid .card {
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  border-radius: 1dvh;
  overflow: hidden;
}
.services .card-grid .card .card-img {
  transition: transform 0.3s;
}
.services .card-grid .card .card-img:hover {
  transform: scale(1.1);
  z-index: 2;
}
.services .card-grid .card .card-content {
  z-index: 6;
  display: flex;
  gap: 10dvh;
  margin-top: 3dvh;
  margin-left: 2dvh;
  margin-bottom: 3dvh;
}
.services .card-grid .card .card-content span {
  color: #06121E;
}
.services .card-grid .card .card-content .card-button {
  background-color: #d34040;
  border: none;
  border-radius: 1dvh;
  color: #ffffff;
  width: 14dvh;
  cursor: default;
}

.location {
  background-color: #ffffff;
  padding-top: 7dvh;
}
.location h3 {
  text-align: center;
  margin-bottom: 5dvh;
  color: #232224;
  font-size: 1.6rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .about-content {
    text-align: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
.whatsapp-btn {
  border-radius: 50%;
  position: fixed;
  right: 5dvh;
  bottom: 5dvh;
  z-index: 6;
  max-width: 5dvh;
  cursor: pointer;
  transition: transform 0.5s;
}
.whatsapp-btn img {
  width: 7dvh;
  transition: transform 0.4s;
}
.whatsapp-btn span {
  visibility: hidden;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  left: -6dvh;
  top: -15dvh;
  padding: 1dvh;
  transition: opacity 0.5s;
  border-radius: 1dvh;
}

.whatsapp-btn:hover span {
  visibility: visible;
  opacity: 1;
}

.whatsapp-btn:hover {
  transform: scale(1.2);
}

header {
  width: 100%;
}

body {
  width: 100%;
  height: 100dvh;
  font-family: "Sora", sans-serif;
  position: relative;
  background-color: #06121E;
  outline: 0;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

i {
  cursor: pointer;
}

button {
  cursor: pointer;
  font-size: 1rem;
}

p {
  font-size: 1rem;
}/*# sourceMappingURL=styles.css.map */